{namespace roadmap=Tx_Typo3Roadmap_ViewHelpers}
<div class="b-tabs">
	<ul class="tabs lite-tabs">
		<f:for each="{majors}" as="majorsTabs" key="keyTab" iteration="tabIteratorTabs">
			<li class="{f:if(condition: tabIteratorTabs.isFirst, then: 'act')}"><a href="#{ceUid}_{keyTab}">{majorsTabs.title}</a></li>
		</f:for>
	</ul>
	<div class="tab-panes">
		<f:for each="{majors}" as="major" key="key" iteration="tabIterator">
			<a id="{ceUid}_{keyTab}"></a>
			<div class="tab-content {f:if(condition: tabIterator.isFirst, then: ' show-tab', else: 'hide-tab')}">
				<h2>{major.title}</h2>
				<f:format.html>{major.bodytext}</f:format.html>
				<h3>Releases</h3>
				<table class="contenttable-0">
					<thead>
					<tr>
						<th scope="col">Version</th>
						<th scope="col">Primary Focus</th>
						<th scope="col">Estimated Release</th>
					</tr>
					</thead>
					<tbody>
					<f:for each="{major.minorversions}" as="minor">
						<tr>
							<td>{minor.version}</td>
							<td>
								<f:if condition="{minor.link}">
									<f:then>
										<a href="{minor.link}">{minor.focus}</a>
									</f:then>
									<f:else>
										{minor.focus}
									</f:else>
								</f:if>
							</td>
							<td>
								<f:if condition="{minor.released} > 1">
									<f:then>
										Released: <f:format.date format="Y-m-d">@{minor.released}</f:format.date>
									</f:then>
									<f:else>
										Estimated: <f:format.date format="Y-m-d">@{minor.estimated}</f:format.date>
									</f:else>
								</f:if>
							</td>
						</tr>
					</f:for>
					</tbody>
				</table>
			</div>
		</f:for>
	</div>
</div>

<h3>Support Times</h3>
<div id="charts" style="height: 300px;"></div>
<div id="legend"></div>
<div id="exportContainer">Download Chart as</div>

<h3>PHP Compatibility Chart</h3>
<table border="1">
	<thead>
		<tr>
			<th>PHP versions</th>
			<f:for each="{majorVersions}" as="majorVersion">
				<th>
					<strong>TYPO3 {majorVersion.title}</strong><br>
					{f:format.date(date:majorVersion.developmentstart,format:'Y')}
					- {f:format.date(date:majorVersion.regularsupport,format:'Y')}
				</th>
			</f:for>
		</tr>
	</thead>
	<tbody>
		<f:for each="{phpVersions}" as="phpVersion">
			<tr>
				<td>
					PHP {phpVersion.version}
				</td>
				<f:for each="{majorVersions}" as="majorVersion">
					<td>
						<roadmap:condition.inArray needle="{phpVersion.uid}" array="{majorVersion.phpVersions}" arrayPath="uid">
							<f:then>
								yes
							</f:then>
							<f:else>
								no
							</f:else>
						</roadmap:condition.inArray>
					</td>
				</f:for>
			</tr>
		</f:for>
	</tbody>
</table>
